fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: black (local)
        entry: black
        language: system
        types: [python]
        stages: [pre-commit]
      
      - id: ruff
        name: ruff (local)
        entry: ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      
      - id: mypy
        name: mypy (local)
        entry: mypy rag/ test/
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

      - id: bandit
        name: bandit (local)
        entry: bandit -c pyproject.toml -q -r .
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
  
      - id: pip-audit
        name: pip-audit (local)
        entry: pip-audit --ignore-vuln GHSA-4xh5-x5gv-qwph --ignore-vuln GHSA-2c2j-9gv5-cj73 --ignore-vuln GHSA-7f5h-v6xp-fcq8 --ignore-vuln GHSA-6qv9-48xg-fc7f
        language: system
        stages: [pre-push]
        pass_filenames: false
        always_run: true
      
      - id: pytest
        name: pytest (local)
        entry: pytest -q
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false